nav#transparent-dream-navigator {
  height: 60px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(158, 158, 158, 1);

  ul#transparent-dream-navigator-list {
    display: flex;
    height: 100%;
    width: 1200px;
    margin: auto;
    left: 0;
    right: 0;

    li {
      display: block;
      width: calc(1200px / 4);
      height: 100%;

      &:not(:first-of-type) {
        border-left: 1px solid rgba(158, 158, 158, 1);
      }

      a {
        font-family: -apple-system, Arial, YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'MigMix 1P', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        text-align: center;
        text-decoration: none;
        color: rgba(33, 33, 33, 1);
        padding: 15px 0;
        font-size: 30px;
        letter-spacing: 1px;
        display: block;
        width: 100%;
        transition: background 300ms;

        &:hover {
          background: rgba(189, 189, 189, .5);
        }
      }
    }
  }
}