* {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Roboto-Light", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("../../font/Roboto-Light.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.setDiv {
  display: flex;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  color: rgba(97, 97, 97, 1);
  #content {
    #namecard {
      a {
        text-decoration: none;
        color: rgba(97, 97, 97, 1);
      }
      position: absolute;
      height: 420px;
      width: 672px;
      border: 2px solid rgba(224, 224, 224, 1);
      background: rgba(250, 250, 250, 1);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      @media (min-width: 1000px) {
        height: 480px;
        width: 768px;
      }
      @media (min-width: 1400px) {
        height: 540px;
        width: 864px;
      }
      @media (min-width: 1600px) {
        height: 600px;
        width: 960px;
      }

      @media(min-height: 600px) {
        margin-top: 60px;
      }
      @media (min-height: 750px) {
        margin-top: 120px;
      }
      #namecard-before {
        width: 50%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-left: 30px;
        padding-top: 90px;
        @media (min-width: 1000px) {
          padding-left: 45px;
          padding-top: 120px;
        }
        @media (min-width: 1400px) {
          padding-left: 60px;
          padding-top: 150px;
        }
        @media (min-width: 1600px) {
          padding-left: 90px;
          padding-top: 180px;
        }

        #namecard-before-hn {
          height: 120px;
          font-size: 60px;
        }
        #namecard-before-twitter a:before, #namecard-before-github a:before {
          display: inline-block;
          position: absolute;
          content: "";
          width: 60px;
          height: 60px;
          background: no-repeat center/35px 35px;
        }
        #namecard-before-twitter a:before {
          background-image: url("../../font/twitter-brands.svg");
        }
        #namecard-before-twitter a:after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          opacity: 0;
          transition: opacity .25s ease-in-out;
          background: -webkit-linear-gradient(0deg, #c2e0f2, #1da1f2 25%, #1da1f2 75%, #c2e0f2);
        }
        #namecard-before-twitter a:hover::after {
          opacity: 1;
        }

        #namecard-before-github a:before {
          background-image: url("../../font/github-brands.svg");
        }
        #namecard-before-github a:after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          opacity: 0;
          transition: opacity .25s ease-in-out;
          background: -webkit-linear-gradient(0deg, #929597, #24292E 35%, #24292E 65%, #929597);
        }
        #namecard-before-github a:hover::after {
          opacity: 1;
        }

        #namecard-before-twitter, #namecard-before-github {
          height: 60px;
          line-height: 60px;
          font-size: 35px;
          a {
            display: inline-block;
            height: 60px;
            span {
              margin-left: 60px;
            }
          }
        }
      }
      #namecard-after {
        width: 50%;
        padding-top: 60px;
        padding-left: 15px;
        @media (min-width: 1000px) {
          padding-top: 75px;
          padding-left: 30px;
        }
        @media (min-width: 1400px) {
          padding-top: 90px;
          padding-left: 45px;
        }
        @media (min-width: 1600px) {
          padding-top: 120px;
          padding-left: 60px;
        }
        $line-height-h2: 36px;
        $font-size-h2: $line-height-h2 - 6px;
        $line-height-li: $font-size-h2;
        $font-size-li: $line-height-li - 6px;
        h2:before {
          display: inline-block;
          position: absolute;
          content: "";
          width: $line-height-h2;
          height: $line-height-h2;
        }
        h2 {
          font-size: $font-size-h2;
          line-height: $line-height-h2;
          font-weight: unset;
          span {
            margin-left: $line-height-h2;
          }
        }
        ul {
          list-style: none;
          li:before {
            display: inline-block;
            position: absolute;
            content: "";
            width: $line-height-li;
            height: $line-height-li;
          }
          li {
            font-size: $font-size-li;
            line-height: $line-height-li;
            span {
              margin-left: $line-height-li;
            }
          }
        }
        $icon-size-h2: $font-size-h2 $font-size-h2;
        $icon-size-li: $font-size-li $font-size-li;
        #namecard-after-skill {
          #namecard-after-skill-it {
            h2:before {
              background: url(../../font/thumbs-up-regular.svg) no-repeat center/$icon-size-h2;
            }
            ul {
              li:nth-child(1):before {
                background: url(../../font/js-brands.svg) no-repeat center/$icon-size-li;
              }
              li:nth-child(2):before {
                background: url(../../font/css3-brands.svg) no-repeat center/$icon-size-li;
              }
            }
          }
          #namecard-after-skill-hobby {
            margin-top: 15px;
            @media (min-width: 1000px) {
              margin-top: 30px;
            }
            @media (min-width: 1400px) {
              margin-top: 45px;
            }
            @media (min-width: 1600px) {
              margin-top: 60px;
            }
            h2:before {
              background: url(../../font/heart-solid.svg) no-repeat center/$icon-size-h2;
            }
            ul {
              li:nth-child(1):before {
                background: url(../../font/gamepad-solid.svg) no-repeat center/$icon-size-li;
              }
              li:nth-child(2):before {
                background: url(../../font/keyboard-regular.svg) no-repeat center/$icon-size-li;
              }
            }
          }
        }
        #namecard-after-links {
          margin-top: 15px;
          @media (min-width: 1000px) {
            margin-top: 30px;
          }
          @media (min-width: 1400px) {
            margin-top: 45px;
          }
          @media (min-width: 1600px) {
            margin-top: 60px;
          }
          h2:before {
            background: url(../../font/home-solid.svg) no-repeat center/$icon-size-h2;
          }
        }
      }
    }
  }
}

@media (max-aspect-ratio: 10/11) {
  #wrapper {
    #content {
      .setDiv {
        flex-direction: column;
      }
      #namecard {
        height: 672px;
        width: 420px;
        padding-left: 30px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        #namecard-before {
          width: 100%;
          height: 40%;
          padding-top: 90px;
          #namecard-before-hn {
            height: 60px;
            font-size: 45px;
          }
          #namecard-before-twitter a:before, #namecard-before-github a:before {
            width: 50px;
            height: 50px;
          }
          
          #namecard-before-twitter, #namecard-before-github {
            height: 50px;
            line-height: 50px;
            font-size: 35px;
            a {
              height: 50px;
              span {
                margin-left: 50px;
              }
            }
          }
        }
        #namecard-after {
          width: 100%;
          height: 60%;
          padding-top: 12px;
          padding-left: 30px;
          #namecard-after-skill {
            #namecard-after-skill-hobby {
              margin-top: 20px;
            }
          }
          #namecard-after-links {
            margin-top: 20px;
          }
        }
      }
    }
  }
}